* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 900px;
    height: 700px;
    /* display: flex;
    flex: 1; */
}

.chat_container {
    display: inline-block;
    width: 49.77%;
    height: 100%;
    border: 2px solid black;
}

.chat_head {
    width: 100%;
    height: 70px;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
}

.chat_area {
    width: 100%;
    height: 80%;
    overflow: scroll;
    background-color: rgba(19, 111, 210, 0.478);
}

.input_block {
    border-top: 1px solid black;
    width: 100%;
    height: 70px;
    background-color: rgba(137, 43, 226, 0.544);
    display: flex;
}

input {
    height: 100%;
    width: 78%;
    outline: none;
}

button {
    height: 100%;
    width: 22%;
    outline: none;
}

img {
    width: 65px;
    height: 65px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 100%;
    border: 3px solid rgb(19, 112, 210);
}

.chat_head_name {
    font-size: 30px;
}

.left_message {
    float: left;
    width: 100%;
}

.left_content {
    margin-top: 10px;
    background-color: #fff;
    font-size: 25px;
    border-radius: 10px;
    /* display: inline-block; */
    margin-left: 10px;
    margin-right: 60px;
    float: left;
}

.right_message {
    float: right;
    width: 100%;
}

.right_content {
    margin-top: 10px;

    background-color: #fff;
    font-size: 25px;
    border-radius: 10px;
    /* display: inline-block; */
    margin-left: 60px;
    margin-right: 10px;
    float: right;
}

.message_time {
    font-size: 12px;
}